.container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px 10%;
    margin-top: 25px;
 }
 
 .text-content {
    max-width: 500px;
 }
 
 @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 40%;
    }
 }
 .typing-effect {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid black;
    width: 0;
    max-width: 100%;
    animation: typing 3s steps(20, end) forwards, blinkCursor 0.8s infinite;
 }
 
 @keyframes blinkCursor {
    50% {
      border-color: transparent;
    }
 }
 
 .intro,
 .description {
    font-size: 1.2rem;
 }
 
 h2 {
    font-size: 2.5rem;
    font-weight: 700;
 }
 
 .highlight {
    color: black;
 }
 
 .description {
    margin: 20px 0;
    color: #575A5E;
 }
 
 .buttons {
    margin-top: 20px;
 }
 
 .btn {
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
 }
 
 .primary {
    background: black;
    color: white;
    border: 2px solid #000;

 }
 
 .primary:hover {
    background: gray;
 }
 
 .secondary {
    background: none;
    color: #08090A;
    border: 2px solid gray;
    margin-left: 10px;
 }
 
 .secondary:hover {
    background: gray;
    color: white;
    border: 2px solid #000;

 }
 
 .image-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #08090A;
 }
 
 .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
 }
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
 }
 
 .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
 }
 
 .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
 }
 
 .close-btn:hover {
    color: #000;
 }
 
 .contact-list {
    list-style-type: none;
    padding: 0;
 }
 
 .contact-list li {
    margin: 15px 0;
 }
 
 .contact-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    transition: 0.2s;
 }
 
 .contact-list a:hover {
    color: #0073b1;
 }
 
 .contact-list a:hover .icon {
    transform: scale(1.1);
 }
 
 .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
 }
 
 .linkedin-icon {
    filter: invert(33%) sepia(74%) saturate(1237%) hue-rotate(176deg) brightness(91%) contrast(91%);
 }
 
 .email-icon {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(320deg) brightness(90%) contrast(90%);
 }
 
 .whatsapp-icon {
    filter: invert(61%) sepia(64%) saturate(400%) hue-rotate(90deg) brightness(90%) contrast(90%);
 }
 @media (max-width: 768px) {
   .container {
      flex-direction: column;
      text-align: center;
      padding: 0 40px;
    }
    .image-container {
        margin-top: 30px;
    }
 
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f8f8f8;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
 
    .menu-btn {
        display: block;
    }
 }

 @media (max-width: 480px) {
   .container {
     padding: 0 15px;
   }
 
   .text-content {
     max-width: 100%;

   }

   h2 {
     font-size: 2rem;
   }
 
   .intro, .description {
     font-size: 1rem;
   }
 
   .buttons {
     flex-direction: column;
     gap: 10px;
   }
 
   .secondary {
     margin-left: 0;
   }

   @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 65%;
      }
      
   }
   .typing-effect {
      overflow: hidden;
      border-right: 2px solid black;
      max-width: 70%;
      animation: typing 3s steps(20, end) forwards, blinkCursor 0.8s infinite;
   }

    
   .image-container {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #08090A;
   }

   .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s, box-shadow 0.3s;
   }
}
 
 
 .theme-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
 }
 
 .theme-button:hover {
    transform: scale(1.1);
 }
