.container-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.text-content {
    max-width: 500px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.highlight {
    color: black;
}

.description {
    margin: 20px 0;
    color: #575A5E;
    font-size: 1.2rem;
}

.btn {
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
}

.primary {
    background: black;
    color: white;
}

.primary:hover {
    background: gray;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 0 10%;
}

.project-card {
    background: #f4f7f5;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 3px 3px 0px #000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    border-radius: 12px;
}

.project-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.project-card p {
    font-size: 0.9rem;
    color: #575A5E;
    margin: 10px 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 55% }
}

.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid black;
    width: 0;
    animation: typing 3s steps(15, end) forwards, blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
    50% { border-color: transparent }
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f8f8f8;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu-btn {
        display: block;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }



    @media (max-width: 480px) {
        .text-content {
            margin-left: 3px;
        }
        
        @keyframes typing {
            from { width: 0 }
            to { width: 90% }
        }

        .typing-effect{
            
        }
    }
}